Retrying splitting, ensuring temporatility respected and included a hold-out set

In [1]:
import pandas as pd

# Load the data
file_path = 'trades(final).csv'
data = pd.read_csv(file_path)

# Ensure data is sorted by Entry_Date
data['Entry_Date'] = pd.to_datetime(data['Entry_Date'])  # Convert to datetime if not already
data = data.sort_values(by='Entry_Date')

# Define the sizes for train, hold-out, validation, and test sets
train_size = 0.75  # 75% of the original data for training
holdout_size = 0.05  # 5% of the original data for holdout
val_size = 0.10  # 10% of the original data for validation
test_size = 0.10  # 10% of the original data for testing

# Calculate the index boundaries for each split
n = len(data)
train_end = int(train_size * n)
holdout_end = int((train_size + holdout_size) * n)
val_end = int((train_size + holdout_size + val_size) * n)

# Split the data while maintaining temporal order
train_data = data.iloc[:train_end]
holdout_data = data.iloc[train_end:holdout_end]
val_data = data.iloc[holdout_end:val_end]
test_data = data.iloc[val_end:]

# Interpolating missing values
train_data = train_data.interpolate(method='linear', limit_direction='both')
val_data = val_data.interpolate(method='linear', limit_direction='both')
test_data = test_data.interpolate(method='linear', limit_direction='both')
holdout_data = holdout_data.interpolate(method='linear', limit_direction='both')

# Define features to be shifted
features_to_shift = [
    'Open', 'High', 'Low', 'Last', 'MACD_At_Entry', 'Day_Of_Week_At_Entry', 'ROC14_At_Entry',
    'SMA5_At_Entry', 'SMA7_At_Entry', 'SMA10_At_Entry', 'SMA15_At_Entry',
    'EMA5_At_Entry', 'EMA7_At_Entry', 'EMA10_At_Entry', 'EMA15_At_Entry',
    'RSI5_At_Entry', 'RSI10_At_Entry', 'RSI15_At_Entry',
    'ATR5_At_Entry', 'ATR15_At_Entry',
    'BB5_High_At_Entry', 'BB5_Low_At_Entry', 'BB5_MAvg_At_Entry',
    'BB10_High_At_Entry', 'BB10_Low_At_Entry', 'BB10_MAvg_At_Entry',
    'BB15_High_At_Entry', 'BB15_Low_At_Entry', 'BB15_MAvg_At_Entry',
    'Stoch5_K_At_Entry', 'Stoch5_D_At_Entry', 'Stoch7_K_At_Entry', 'Stoch7_D_At_Entry',
    'Stoch21_K_At_Entry', 'Stoch21_D_At_Entry'
]

# Shifting the features back by one period to prevent lookahead bias
train_data[features_to_shift] = train_data[features_to_shift].shift(1)
val_data[features_to_shift] = val_data[features_to_shift].shift(1)
test_data[features_to_shift] = test_data[features_to_shift].shift(1)
holdout_data[features_to_shift] = holdout_data[features_to_shift].shift(1)

# Drop rows with NaNs after shifting
train_data.dropna(inplace=True)
val_data.dropna(inplace=True)
test_data.dropna(inplace=True)
holdout_data.dropna(inplace=True)

# Save the splits into separate files
train_data.to_csv('train_data(new).csv', index=False)
val_data.to_csv('val_data(new).csv', index=False)
test_data.to_csv('test_data(new).csv', index=False)
holdout_data.to_csv('holdout_data(new).csv', index=False)

print("Data split, interpolated, shifted, and saved successfully.")

/var/folders/zw/9vch0yrs50jfl_28l8p1__m80000gn/T/ipykernel_28120/2402287112.py:30: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  train_data = train_data.interpolate(method='linear', limit_direction='both')
/var/folders/zw/9vch0yrs50jfl_28l8p1__m80000gn/T/ipykernel_28120/2402287112.py:31: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  val_data = val_data.interpolate(method='linear', limit_direction='both')
/var/folders/zw/9vch0yrs50jfl_28l8p1__m80000gn/T/ipykernel_28120/2402287112.py:32: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  test_data = test_data.interpolate(method='linear', limit_direction='both')
/var/folders/zw/9vch0yrs50jfl_28l8p1__m80000gn/T/ipykernel_28120/2402287112.py:33: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  holdout_data = holdout_data.interpolate(method='linear', limit_direction='both')

Data split, interpolated, shifted, and saved successfully.

Checking the original data.

In [6]:
import pandas as pd

# Load the dataset
file_path = 'trades(final).csv'
df = pd.read_csv(file_path)

# Group by Entry_Date to find instances where multiple strategies traded on the same day
grouped = df.groupby('Entry_Date')

# Initialize a list to store any discrepancies found
discrepancies = []

# Iterate over each group
for entry_date, group in grouped:
    if len(group) > 1:  # Only consider dates where more than one trade occurred
        # Drop the columns that are not supposed to match, like Trade_ID and Strategy
        comparison_columns = [col for col in df.columns if col not in ['Strategy', 'Trade_ID']]
        
        # Check if all rows in the group are identical
        for col in comparison_columns:
            if not group[col].nunique() == 1:
                discrepancies.append({
                    'Entry_Date': entry_date,
                    'Column': col,
                    'Unique Values': group[col].unique(),
                    'Rows': group[[col, 'Strategy', 'Trade_ID']].to_dict(orient='records')
                })

# Output the result
if discrepancies:
    print("Discrepancies found:")
    for discrepancy in discrepancies:
        print(f"\nEntry Date: {discrepancy['Entry_Date']}, Column: {discrepancy['Column']}, Unique Values: {discrepancy['Unique Values']}")
        print("Affected Rows:")
        for row in discrepancy['Rows']:
            print(row)
else:
    print("No discrepancies found. All columns match for trades on the same entry date.")

No discrepancies found. All columns match for trades on the same entry date.

Changin splitting to ensure that mutiple trades on the same day have the same feature values when shiting

In [11]:
import pandas as pd

# Load the data
file_path = 'trades(final).csv'
data = pd.read_csv(file_path)

# Ensure data is sorted by Entry_Date
data['Entry_Date'] = pd.to_datetime(data['Entry_Date'])  # Convert to datetime if not already
data = data.sort_values(by='Entry_Date')

# Define the sizes for train, hold-out, validation, and test sets
train_size = 0.75  # 75% of the original data for training
holdout_size = 0.05  # 5% of the original data for holdout
val_size = 0.10  # 10% of the original data for validation
test_size = 0.10  # 10% of the original data for testing

# Calculate the index boundaries for each split
n = len(data)
train_end = int(train_size * n)
holdout_end = int((train_size + holdout_size) * n)
val_end = int((train_size + holdout_size + val_size) * n)

# Split the data while maintaining temporal order
train_data = data.iloc[:train_end]
holdout_data = data.iloc[train_end:holdout_end]
val_data = data.iloc[holdout_end:val_end]
test_data = data.iloc[val_end:]

# Interpolating missing values
train_data = train_data.interpolate(method='linear', limit_direction='both')
val_data = val_data.interpolate(method='linear', limit_direction='both')
test_data = test_data.interpolate(method='linear', limit_direction='both')
holdout_data = holdout_data.interpolate(method='linear', limit_direction='both')

# Shift the target variable (e.g., Profit_Loss) up by one period
target_variable = 'Target'  # Change this to the actual target column name
train_data[target_variable] = train_data[target_variable].shift(-1)
val_data[target_variable] = val_data[target_variable].shift(-1)
test_data[target_variable] = test_data[target_variable].shift(-1)
holdout_data[target_variable] = holdout_data[target_variable].shift(-1)

# Drop rows with NaNs after shifting (these will be the last rows in each set)
train_data.dropna(inplace=True)
val_data.dropna(inplace=True)
test_data.dropna(inplace=True)
holdout_data.dropna(inplace=True)

# Save the splits into separate files
train_data.to_csv('train_data(new2).csv', index=False)
val_data.to_csv('val_data(new2).csv', index=False)
test_data.to_csv('test_data(new2).csv', index=False)
holdout_data.to_csv('holdout_data(new2).csv', index=False)

print("Data split, interpolated, target shifted, and saved successfully.")

/var/folders/zw/9vch0yrs50jfl_28l8p1__m80000gn/T/ipykernel_28120/902230378.py:30: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  train_data = train_data.interpolate(method='linear', limit_direction='both')
/var/folders/zw/9vch0yrs50jfl_28l8p1__m80000gn/T/ipykernel_28120/902230378.py:31: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  val_data = val_data.interpolate(method='linear', limit_direction='both')
/var/folders/zw/9vch0yrs50jfl_28l8p1__m80000gn/T/ipykernel_28120/902230378.py:32: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  test_data = test_data.interpolate(method='linear', limit_direction='both')
/var/folders/zw/9vch0yrs50jfl_28l8p1__m80000gn/T/ipykernel_28120/902230378.py:33: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  holdout_data = holdout_data.interpolate(method='linear', limit_direction='both')

Data split, interpolated, target shifted, and saved successfully.

In [12]:
import pandas as pd

# Load the dataset
file_path = 'train_data(new2).csv'
df = pd.read_csv(file_path)

# Group by Entry_Date to find instances where multiple strategies traded on the same day
grouped = df.groupby('Entry_Date')

# Initialize a list to store any discrepancies found
discrepancies = []

# Iterate over each group
for entry_date, group in grouped:
    if len(group) > 1:  # Only consider dates where more than one trade occurred
        # Drop the columns that are not supposed to match, like Trade_ID and Strategy
        comparison_columns = [col for col in df.columns if col not in ['Strategy', 'Trade_ID']]
        
        # Check if all rows in the group are identical
        for col in comparison_columns:
            if not group[col].nunique() == 1:
                discrepancies.append({
                    'Entry_Date': entry_date,
                    'Column': col,
                    'Unique Values': group[col].unique(),
                    'Rows': group[[col, 'Strategy', 'Trade_ID']].to_dict(orient='records')
                })

# Output the result
if discrepancies:
    print("Discrepancies found:")
    for discrepancy in discrepancies:
        print(f"\nEntry Date: {discrepancy['Entry_Date']}, Column: {discrepancy['Column']}, Unique Values: {discrepancy['Unique Values']}")
        print("Affected Rows:")
        for row in discrepancy['Rows']:
            print(row)
else:
    print("No discrepancies found. All columns match for trades on the same entry date.")

Discrepancies found:

Entry Date: 1990-03-13, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T1'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T2'}

Entry Date: 1990-03-21, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T10'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T11'}

Entry Date: 1990-03-22, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T12'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T13'}

Entry Date: 1990-04-02, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T21'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T22'}

Entry Date: 1990-05-23, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T47'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T48'}

Entry Date: 1990-06-01, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T56'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T57'}

Entry Date: 1990-06-13, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T66'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T67'}

Entry Date: 1990-08-09, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T93'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T94'}

Entry Date: 1990-08-10, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T95'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T96'}

Entry Date: 1990-09-04, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T104'}
{'Target': 1.0, 'Strategy': 'Strategy_3', 'Trade_ID': 'Strategy_3_T105'}

Entry Date: 1990-09-12, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T115'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T116'}

Entry Date: 1990-10-29, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T138'}
{'Target': 1.0, 'Strategy': 'Strategy_3', 'Trade_ID': 'Strategy_3_T139'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T140'}

Entry Date: 1990-10-30, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T141'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T142'}

Entry Date: 1990-11-26, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_1', 'Trade_ID': 'Strategy_1_T151'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T152'}

Entry Date: 1990-12-04, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T157'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T158'}

Entry Date: 1990-12-05, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T159'}
{'Target': 0.0, 'Strategy': 'Strategy_3', 'Trade_ID': 'Strategy_3_T160'}

Entry Date: 1990-12-06, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T161'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T162'}

Entry Date: 1990-12-24, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T172'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T173'}

Entry Date: 1991-01-11, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T186'}
{'Target': 0.0, 'Strategy': 'Strategy_3', 'Trade_ID': 'Strategy_3_T187'}

Entry Date: 1991-02-15, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T201'}
{'Target': 1.0, 'Strategy': 'Strategy_3', 'Trade_ID': 'Strategy_3_T202'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T203'}

Entry Date: 1991-03-01, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T216'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T217'}

Entry Date: 1991-03-19, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T233'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T234'}

Entry Date: 1991-03-25, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T239'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T240'}

Entry Date: 1991-03-27, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T242'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T243'}

Entry Date: 1991-04-17, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T255'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T256'}

Entry Date: 1991-04-19, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T259'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T260'}

Entry Date: 1991-05-06, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T273'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T274'}

Entry Date: 1991-05-10, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T279'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T280'}

Entry Date: 1991-05-20, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T285'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T286'}

Entry Date: 1991-05-24, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T291'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T292'}

Entry Date: 1991-06-13, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T308'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T309'}

Entry Date: 1991-06-14, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T310'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T311'}

Entry Date: 1991-07-02, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T327'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T328'}

Entry Date: 1991-08-16, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T354'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T355'}

Entry Date: 1991-08-23, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T360'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T361'}

Entry Date: 1991-08-26, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T362'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T363'}

Entry Date: 1991-08-28, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T365'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T366'}

Entry Date: 1991-08-30, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T367'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T368'}

Entry Date: 1991-10-16, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T390'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T391'}

Entry Date: 1991-10-18, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T393'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T394'}

Entry Date: 1991-10-21, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T395'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T396'}

Entry Date: 1991-10-25, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T402'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T403'}

Entry Date: 1991-11-06, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_1', 'Trade_ID': 'Strategy_1_T413'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T414'}

Entry Date: 1991-12-02, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T425'}
{'Target': 1.0, 'Strategy': 'Strategy_3', 'Trade_ID': 'Strategy_3_T426'}

Entry Date: 1991-12-05, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T428'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T429'}

Entry Date: 1992-01-06, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T440'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T441'}

Entry Date: 1992-01-10, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T445'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T446'}

Entry Date: 1992-01-21, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T455'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T456'}

Entry Date: 1992-01-23, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T458'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T459'}

Entry Date: 1992-02-19, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T482'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T483'}

Entry Date: 1992-02-20, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T484'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T485'}

Entry Date: 1992-02-24, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T487'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T488'}

Entry Date: 1992-03-04, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T496'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T497'}

Entry Date: 1992-03-05, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T498'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T499'}

Entry Date: 1992-03-09, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T501'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T502'}

Entry Date: 1992-03-10, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T503'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T504'}

Entry Date: 1992-03-12, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T506'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T507'}

Entry Date: 1992-03-18, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T512'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T513'}

Entry Date: 1992-04-03, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T524'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T525'}

Entry Date: 1992-04-16, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T532'}
{'Target': 1.0, 'Strategy': 'Strategy_3', 'Trade_ID': 'Strategy_3_T533'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T534'}

Entry Date: 1992-04-22, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T539'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T540'}

Entry Date: 1992-07-24, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T585'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T586'}

Entry Date: 1992-07-30, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T591'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T592'}

Entry Date: 1992-08-04, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T596'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T597'}

Entry Date: 1992-08-05, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T598'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T599'}

Entry Date: 1992-08-14, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T609'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T610'}

Entry Date: 1992-08-24, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T614'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T615'}

Entry Date: 1992-08-27, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_1', 'Trade_ID': 'Strategy_1_T618'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T619'}

Entry Date: 1992-09-10, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T624'}
{'Target': 0.0, 'Strategy': 'Strategy_3', 'Trade_ID': 'Strategy_3_T625'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T626'}

Entry Date: 1992-09-18, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T634'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T635'}

Entry Date: 1992-10-12, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T652'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T653'}

Entry Date: 1992-10-20, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T662'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T663'}

Entry Date: 1992-10-26, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T668'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T669'}

Entry Date: 1992-10-27, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T670'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T671'}

Entry Date: 1992-11-03, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T677'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T678'}

Entry Date: 1992-11-04, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T679'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T680'}

Entry Date: 1992-11-06, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T682'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T683'}

Entry Date: 1992-11-16, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T690'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T691'}

Entry Date: 1992-11-23, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T696'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T697'}

Entry Date: 1992-11-25, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T699'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T700'}

Entry Date: 1992-11-27, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T702'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T703'}

Entry Date: 1992-12-07, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T709'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T710'}

Entry Date: 1992-12-11, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T713'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T714'}

Entry Date: 1992-12-15, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T716'}
{'Target': 1.0, 'Strategy': 'Strategy_3', 'Trade_ID': 'Strategy_3_T717'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T718'}

Entry Date: 1992-12-21, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T722'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T723'}

Entry Date: 1992-12-30, Column: Target, Unique Values: [1. 0.]
Affected Rows:
{'Target': 1.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T731'}
{'Target': 0.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T732'}

Entry Date: 1993-01-05, Column: Target, Unique Values: [0. 1.]
Affected Rows:
{'Target': 0.0, 'Strategy': 'Strategy_2', 'Trade_ID': 'Strategy_2_T737'}
{'Target': 1.0, 'Strategy': 'Strategy_4', 'Trade_ID': 'Strategy_4_T738'}
